body {
  color: orange; }

.shop {
  display: flex;
  flex-flow: row;
  margin: 10px; }

.table {
  align-items: center;
  display: flex;
  flex-flow: column;
  height: 200px;
  justify-content: space-around;
  margin: 10px;
  width: 200px;
  -webkit-border: 2px solid #ddd;
  -moz-border: 2px solid #ddd;
  -ms-border: 2px solid #ddd;
  border: 2px solid #ddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }
  .table .prod {
    -webkit-border: 1px solid #ddd;
    -moz-border: 1px solid #ddd;
    -ms-border: 1px solid #ddd;
    border: 1px solid #ddd;
    padding: 5px; }

.take {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background: blue;
  transition: all .2s; }

.check {
  -webkit-border: 5px solid #ddd;
  -moz-border: 5px solid #ddd;
  -ms-border: 5px solid #ddd;
  border: 5px solid #ddd;
  padding: 5px; }

.maney {
  color: green; }

.hide {
  transition: all 1s;
  display: none; }

.prod {
  cursor: pointer;
  transition: background .2s, color .5s; }
  .prod:hover {
    background: #ccc;
    color: black; }

.wrapItems {
  padding: 10px;
  position: relative;
  z-index: 1; }
  .wrapItems:after {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: blue;
    content: 'check';
    display: block;
    height: 30px;
    left: 0px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    top: -25px;
    width: 100px;
    z-index: 999; }
